@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

.overscroll-y-auto {
  overscroll-behavior-y: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
